@charset "utf-8";
@import url("mr.css");


.wrapper{
	position:relative;
	background:url('../images/game/bg.jpg') no-repeat 0 0;
	width:100%;
	height:100%;
}

.header{
	position:relative;
	padding-top:16px;
	width:538px;
	height:24px;
	margin-left:51px;
	text-align:center;

}

.timerNum{
	position:absolute;
	top:16px;
	left:0;
	width:100%;
	height:24px;
	text-align:center;
	z-index:2;
}

.timer{
	position:absolute;
	top:16px;
	left:0;
	width:100%;
	height:24px;
	text-align:center;
	background:url('../images/game/time_line.jpg') repeat-x 0 0;
}


.timer:before{
	position:absolute;
	top:0;
	left:-10px;
	content:'　';
	width:12px;
	height:24px;
	background:url('../images/game/time_left.png') no-repeat left 0;


}

.timer:after{
	position:absolute;
	top:0;
	right:-10px;
	content:'　';
	width:12px;
	height:24px;
	background:url('../images/game/time_right.png') no-repeat right 0;

}


.score{
	position:absolute;
	top:70px;
	left:258px;
	width:147px;
	height:40px;
	line-height:30px;
	font-size:24px;
	text-align:center;
	color:#fff;
}

section{
	position:absolute;
	width:174px;
	height:223px;
	background:url('../images/game/langan.png') no-repeat center center;
}

section.hasPic{
	background:none;
}


section#section1{top:161px;left:40px;}
section#section2{top:161px;left:234px;}
section#section3{top:161px;left:426px;}
section#section4{top:421px;left:40px;}
section#section5{top:421px;left:234px;}
section#section6{top:421px;left:426px;}
section#section7{top:689px;left:40px;}
section#section8{top:689px;left:234px;}
section#section9{top:689px;left:426px;}


section .mbg{
	width:100%;
	height:100%;
	background-position:center center;
	background-repeat:no-repeat;
	display:none;
}

section.hasPic .mbg{
	display:block;
}